{% extends 'core/base.html' %}

{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}

<!-- Cabecera -->
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="https://us.123rf.com/450wm/timestopper69/timestopper691801/timestopper69180100001/93717860-o-t%C3%A9cnico-est%C3%A1-colocando-a-cpu-no-soquete-da-placa-m%C3%A3e-do-computador-.jpg?ver=6" alt="">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Profesionalidad y transparencia.</span>
          <span class="section-heading-lower">¿Por qué confiar en nosotros?</span>
        </h2>
        <p class="mb-3">Hoy en día una parte de vida pasa por nuestra computadora: trabajo, recuerdos, entretenimiento e información personal. Sabemos lo importe que es para vos, por eso lo cuidamos con la responsabilidad que se merece.
        </p>
        <div class="intro-button mx-auto">
          <a class="btn btn-primary btn-xl" href="store.html">Visítanos</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Mensaje -->
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Compromiso total</span>
            <span class="section-heading-lower">Garantizado</span>
          </h2>
          <p class="mb-0">Sed pulvinar blandit elit id venenatis. Ut eget lacus neque. Nullam justo quam, efficitur nec turpis vitae, efficitur posuere ligula. Proin ut turpis orci. Aenean porta sodales lectus faucibus pellentesque. In sed felis iaculis, rhoncus felis a, maximus mi.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}